<html>
<head>
<title>Dai refresh!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.textbig { font-family: Georgia, "Times New Roman", Times, serif; font-size: 80px}
a.me:link { color: #FFFFFF}
a.me:visited { color: #FFFFFF}
a.me:hover { color: #FF3300}
a.me:active { color: #FFFFFF}
-->
</style>
</head>
<body bgcolor="003300" text="#000000">
<div align="center">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
 <p><font size="3"><b><font face="Georgia, Times New Roman, Times, serif" size="4" color="#FFFFFF">Vreau sa iti spun ceva..</font></b></font></p>
<p><font face="Georgia, Times New Roman, Times, serif" size="5"><b><font color="#FF3300" class="textnormal">
<SCRIPT LANGUAGE="Javascript"><!--


function text() {
};

text = new text();
number = 0;

// textArray
text[number++] = "... ca esti adorabila"
text[number++] = "... ca nu vreau sa te pierd"
text[number++] = "... ca te iubesc mult"
text[number++] = "... ca esti Vesela"
text[number++] = "... O fata foarte frumoasa"
text[number++] = "... esti desteapta"
text[number++] = "... esti sociabila"
text[number++] = "... esti amuzanta..."
text[number++] = "... esti speciala"
text[number++] = "... că te iubesc Enorm de mult"
text[number++] = "... ca nu am să mai gasesc ca si tine niciodata"
text[number++] = "... esti singura persoana pe care o iubesc asa de mult "
text[number++] = "... ca nu am sa mai iubesc pe nimeni vreodata"
text[number++] = "... Te iubesc mult"
text[number++] = "... ca as vrea sa te imbratisez "
text[number++] = "... Puiut mic si adorabil"
text[number++] = "... Nu vreau sa te pierd sau alt ceva"
text[number++] = "... nu am sa te ranesc"
text[number++] = "... Te iubesc enorm de extrem"
text[number++] = "... Te vreau"
text[number++] = "... am sa te iubesc pana o sa murim si dupa"
text[number++] = "... o sa ne intalnim o sa fie totul bine"
text[number++] = "... Vrei sa fi a mea pentru toata viata  si dupa? "
text[number++] = "... Te iubesc asa cum fetele isi iubesc hainele"
text[number++] = "... Te iubesc asa cum eu iubesc muzica"
text[number++] = "... Te iubesc asa cum un fumator fumeaza"
text[number++] = "... Te iubesc asa cum elevi iubesc vacantele"
text[number++] = "... Te iubesc asa cum un scriitor iubeste cuvintele"
text[number++] = "... Nu am cuvinte..sa iti spun ce insemni tu pentru MINE"
text[number++] = "... Suntem ca si Romeo si Julieta"
text[number++] = "... Suntem ca si o floare si petalele ei"
text[number++] = "... Suntem ca si omul cu aerul lui"
text[number++] = "... Esti tot ce vreau sa am"
text[number++] = "... La 3 trimite mi un mesaj cu ce gandesti tu acum 1-2-3 Acum!"
text[number++] = "... Esti adorabila"
text[number++] = "... Tu.. Esti.. Puiutul meu!"
text[number++] = "... Tu.. Esti.. Viata mea!"
text[number++] = "... Tu.. Esti.. Totul!"

increment = Math.floor(Math.random() * number);

document.write(text[increment]);

//--></SCRIPT>
</font></b></font></p>
<p><font face="Georgia, Times New Roman, Times, serif" color="#FFFFFF"><b>Cristi</b>|<b><a href="Facut de Cristi" target="_blank" class="me">Facebook</a>
</b>|<b><a href="https://www.facebook.com/TheDead66669" target="_blank" class="me">https://www.facebook.com/TheDead66669</a></b></font></p>
 <p><font face="Georgia, Times New Roman, Times, serif" color="#FF3300"><b><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">Free
JavaScripts provided by</font><font size="1" face="Verdana, Arial, Helvetica, sans-serif">
<a href="http://javascriptsource.com"><font color="#666666">The JavaScript
Source</font></a></font> </b></font></p>
</div>
<p align="center"> <font face="Georgia, Times New Roman, Times, serif" color="#FF3300"><b><font size="7">
<!-- Script Size: 1.14 KB -->

</font></b></font><font face="Georgia, Times New Roman, Times, serif"><b><font size="7">
</font></b></font>
</body>
</html>
